*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    max-width: 75%;
    background-color: rgb(230, 230, 230);
}


.header
{
    box-shadow: 5px 5px 30px 10px balck;
    
    
}

.navbar
{
    max-width: 74%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
}

.navbar a{
    color: white;
    font-size: 2rem;
    padding-inline: 3rem;
    border-left: 3px solid white;
}


.hero
{
    width: 100%;
    min-height: 100vh;
    background: url('../hero.jpg');
    background-color: rgba(0,0,0,.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-h1
{
    font-size: 12rem;
}


[data-colour="blue"]
{
    color: #0CBFF7;
}
[data-bg-colour="blue"]
{
    background-color: #440FD6;
    position: relative;
    top: 100px;
}
[data-bg-colour="white"]
{
    background-color: white;
}
[data-colour="white"]
{
    color: white;
}

[data-colour-font="blue"]
{
    color: #440FD6;
}

.hero h2
{
    margin-top: 2rem;
    font-size: 3rem;
    font-style: italic;
    border-bottom: 3px double white;
}

.hero-button
{
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    border-radius: 10px;
    margin-top: 8rem;
    background-color: #F7800A;
    color: white;
    box-shadow: 10px 10px 50px 10px black;
    cursor: pointer;
    font-weight: bold;
}

.pick-homemate
{
    padding-block: 10rem;
    padding-inline: 5rem;
    background-color: #0CBFF7;
    color: white;
}


.text-under-hero{
    padding: 5rem;
    border-left: 1.5rem double white;
}

.text-under-hero h3
{
    font-weight: bold;
    text-decoration: double;
    margin-bottom: 2rem;
}

.card-section h2
{
 margin-top: 5rem;
 color: #098fb8;
 text-align: center;
 font-size: 3rem;
}

.card
{
    color: rgb(116, 116, 116);
    box-shadow: 0 2px 1px 1px rgb(119, 119, 119);
    
}

.middle-card
{
    background-color: #0CBFF7;
    color: white;
}



.card h3
{
    font-weight: bold;
    margin-block: 1rem 2rem;
}

.card p
{
    padding: 2rem;
}

.card-img-top
{
    max-width: 8rem;
    height: 8rem;
    padding-block: 2rem;
}

.btn-test
{
    background-color: #F7800A;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
}

.housing-selection
{
    background-color: #0CBFF7;

}

.house
{
    background-image: url('/house.jpg');
    background-color: #0000005d;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 40vh;
}

.villa
{
    background-image: url('/villa.jpg');
    background-color: #0000005d;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 40vh;
}

.apartment
{
    background-image: url('/apartment.jpg');
    background-color: #0000005d;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 40vh;
}


.img-scroll
{
    margin-top: 8rem;
    width: 100%;
    height: 40vh;
 background-image: url('/pexels-allyson-salness-8288962.jpg');
 background-color: rgba(0,0,0,.6);
 background-blend-mode: multiply;
 background-size: cover;
 background-attachment: fixed;
  background-position: center;
  position: relative;
}

.news-letter
{
    background-color: white;
    width: 30%;
    height: 30%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.footer
{
    min-height: 20vh;
    background-color: #098fb8;
}